

/* Minimum width of 600 pixels. */
@media screen and (min-width: 960px) {

    .left-mobile-header, #back-to-top-container, .social-icon-container {
        display: none;
    }

    .author-avatar {
        float: left;
        margin-top: 8px;
        margin-top: 0.571428571rem;
    }
    .author-description {
        float: right;
        width: 80%;
    }
    .site {
        margin: 0 auto;
        width: 940px;
        overflow: hidden;
    }
    .home .site{
        max-width:none;
    }

    body.template-front-page .site-content,
    body.single-attachment .site-content,
    body.full-width .site-content {
        width: 100%;
    }
    .widget-area {
        float: right;
        width: 26.041666667%;
    }
    .site-header h1,
    .site-header h2 {
        text-align: left;
    }
    .site-header h1 {
        font-size: 26px;
        font-size: 1.857142857rem;
        line-height: 1.846153846;
        margin-bottom: 0;
    }

    .main-navigation div.nav-menu > ul {
        /*border-bottom: 1px solid #ededed;
        border-top: 1px solid #ededed;*/
        display: inline-block !important;
        text-align: left;
        height: 50px;
        width:100%;
        float:left;
    }
    .main-navigation ul.nav-menu{
        display: inline-block !important;
        height: 45px;
        width:968px;
        text-align:left;
    }
    .main-navigation ul {
        margin: 0;
        text-indent: 0;
    }
    .main-navigation li a,
    .main-navigation li {
        display: inline-block;
        text-decoration: none;
        height:19px;
    }
    .main-navigation li a {
        border-bottom: 0;
        color: white;
        /*line-height: 3.692307692; */
        /*text-transform: uppercase;*/
        white-space: nowrap;
    }
    .main-navigation li:hover {
        color: #fff;
        background: #787068;
    }

    .main-navigation li a:hover {
        color: #fff;
    }
    .searchbox{
        background: none !important;
        /* padding: 15px 0px !important; */
        margin-right: -30px !important;
        float: right;
    }
    .main-navigation li {

        margin: 0 -4px -6px 0;
        padding: 13px 1rem;
        position: relative;
        font-size:14px;
    }
    .main-navigation li:first-child{
        /*padding-left:0;*/
    }
    .main-navigation li ul {
        display: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 98%;
        z-index: 1;
        width: 900px;
        margin-left:-14px;
    }
    .sub-menu li{
        float:left;
        margin:0;
        padding:0;
    }
    .main-navigation li ul ul {
        top: 28px;
        margin: 0 0;
        width:250px;
        background-color:#787068;

    }
    .main-navigation li ul ul li{
        height:auto;
        width:158px;
    }
    .main-navigation ul li:hover > ul {
        border-left: 0;
        display: block;
        background: #afafaf;
    }

    .main-navigation li ul li a {
        background: #afafaf;
        display: block;
        line-height: 1.081818182;
        height:14px;
        padding: 8px 15px;
        white-space: nowrap;
        color: #272320;
        font-weight: normal;

    }

    .main-navigation li ul li a:hover {
        color: #fff;
    }

    .main-navigation .current-menu-item > a,
    .main-navigation .current-menu-ancestor > a,
    .main-navigation .current_page_item > a,
    .main-navigation .current_page_ancestor > a {
        color: white;
        font-weight: normal;


    }
    .main-navigation .current-menu-item{
        background: #787068;
    }
    .main-navigation .current-menu-parent{
        background: #787068;
    }
    .menu-toggle {
        display: none;
    }
    .entry-title-hide{
        font-size: 22px;
        font-size: 1.571428571rem;
        font-size:28px;
        color:#514942;
        font-weight: 100;
        line-height: 1.2;
        font-weight: normal;
        width: 615px;
        margin-bottom: 5px;
        visibility: hidden;
    }


    .entry-header .entry-title {
        font-size: 22px;
        font-size: 1.571428571rem;
        font-size:28px;
        color:#514942;
    }
    #respond form input[type="text"] {
        width: 46.333333333%;
    }
    #respond form textarea.blog-textarea {
        width: 79.666666667%;
    }
    .template-front-page .site-content,
    .template-front-page article {
        overflow: hidden;
    }
    .template-front-page.has-post-thumbnail article {
        float: left;
        width: 47.916666667%;
    }
    .entry-page-image {
        float: right;
        margin-bottom: 0;
        width: 47.916666667%;
    }
    .template-front-page .widget-area .widget,
    .template-front-page.two-sidebars .widget-area .front-widgets {
        float: left;
        width: 51.875%;
        margin-bottom: 24px;
        margin-bottom: 1.714285714rem;
    }
    .template-front-page .widget-area .widget:nth-child(odd) {
        clear: right;
    }
    .template-front-page .widget-area .widget:nth-child(even),
    .template-front-page.two-sidebars .widget-area .front-widgets + .front-widgets {
        float: right;
        width: 39.0625%;
        margin: 0 0 24px;
        margin: 0 0 1.714285714rem;
    }
    .template-front-page.two-sidebars .widget,
    .template-front-page.two-sidebars .widget:nth-child(even) {
        float: none;
        width: auto;
    }
    .commentlist .children {
        margin-left: 48px;
        margin-left: 3.428571429rem;
    }

    body {

        /*background-color: #e6e6e6;*/
        background-color: white;
    }
    body .site {
        padding: 0 40px;
        padding: 0 2.857142857rem;
        /*margin-top: 48px;
        margin-top: 3.428571429rem;*/
        /*margin-bottom: 48px;
        margin-bottom: 3.428571429rem;*/
        /*box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);*/
    }
    body.custom-background-empty {
        background-color: #fff;
    }
    body.custom-background-empty .site,
    body.custom-background-white .site {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        box-shadow: none;
    }
    #gform_1 .gfield_label, #gform_2 .gfield_label{
        display: inline-block !important;
    }
    #gform_1 input::-webkit-input-placeholder,
    #gform_1 textarea::-webkit-input-placeholder,
    #gform_2 input::-webkit-input-placeholder,
    #gform_2 textarea::-webkit-input-placeholder{
        color: transparent;
    }
    #gform_1 input:-moz-placeholder,
    #gform_1 textarea:-moz-placeholder,
    #gform_2 input:-moz-placeholder,
    #gform_2 textarea:-moz-placeholder{
        color: transparent;
    }

    #gform_1 input::-moz-placeholder,
    #gform_1 textarea::-moz-placeholder,
    #gform_2 input::-moz-placeholder,
    #gform_2 textarea::-moz-placeholder{
        color: transparent;
    }

    #gform_1 input:-ms-input-placeholder,
    #gform_1 textarea:-ms-input-placeholder,
    #gform_2 input::-moz-placeholder,
    #gform_2 textarea::-moz-placeholder{
        color: transparent;
    }
    .waze-button{
        display: none;
    }
    .mobile-accordion.desktop-accordion .left-text-header:hover{
        cursor: pointer;
    }
    .mobile-accordion.desktop-accordion .left-menu{
        display: none;
    }
}

@media screen and (max-width: 960px) {

    .container{
        padding-bottom: 0;
    }

    .main-navigation .nav-menu li.searchbox{
        margin-top: 0;
        padding: 5px;
    }
    .mobile-searchform,
    .mobile-searchform *{
        box-sizing: border-box;
    }
    .mobile-searchform{
        width: 100%;
        background-color: #636466;
    }
    .mobile-searchform-wrapper{
        position: relative;
        border: solid 2px #cccdcf;
    }
    .mobile-searchform-wrapper #s{
        width: 100%;
        height: 32px;
        border: none;
        background: transparent;
        padding: 0 45px 0 10px;
        outline: none;
        font-size: 24px;
        color: #cccdcf;
    }
    .mobile-searchform-wrapper #searchform input[type="submit"]{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: auto;
        float: right;
        height: 32px;
        width: 40px;
        background: url("../images/mobile-search-ico.jpg") center no-repeat !important;
        border: none;
        outline: none;
    }

    .social-icon-container {
        text-align: center;
    }
    .social-icon-container a {
        opacity: 0.7;
    }
    .social-icon-container a:hover {
    opacity: 1;
    }
    .social-icon-container a.linkedin-social-icon,
    .social-icon-container a.facebook-social-icon,
    .social-icon-container a.twitter-social-icon {
        background: url(../images/social_network_btn.gif) 0px 0px no-repeat;
        width: 19px;
        height: 16px;
        display: inline-block;
        margin-top: 6px;
    }
    .social-icon-container a.facebook-social-icon {
        background-position:-20px 0px ;
    }
    .social-icon-container a.twitter-social-icon {
        background-position:-41px 0px ;
    }
    .social-icon-container a.rss_link-social-icon {
        background:url(../images/rss_2.ico) 0px 0px no-repeat;
        background-size: 70%;
        width: 19px;
        height: 16px;
        display: inline-block;
        margin-left: 5px;
    }

	#back-to-top-container {
		margin-top: 5px;
		border-top: 1px solid #ccc;
		padding-top: 6px;
		width: 100%;
		text-align: center;
	}
    .home #back-to-top-container,
    .home .back-to-top{
        display: none !important;
    }

	.back-to-top {
		margin: 0;
		right: 0;
		width: 70px;
		height: 70px;
		text-decoration: none;
		width: 100%;
		font-size: 20px;
		color: #bbb !important;
	}

    .contact-page .mobile-accordion .left-text-header{
        display: block;
    }
    .flex-caption, .main-navigation .user-portfolio,
    #home-top-div .main_total_top_holder,
    .main-navigation ul.nav-menu, .main-navigation div.nav-menu > ul,
    .main-navigation .nav-menu .sub-menu .menu-item .sub-menu,
    .main-navigation .nav-menu >  .menu-item > .sub-menu,
    .services-right .right-header, .mobile-accordion .left-menu,
    .top-div, .about-left, footer, .contact-page .left-div .map, .contact-page .left-text-header,
    .mobile-hide{
        display: none;
    }
    .home .right p, .about-right .entry-content p, .team-page-right,
    .team-page-right p,
    .team-page-right .right-details div,
    .mobile-accordion .left-text-header,
    #gform_1 input[type="text"], #gform_1 textarea,
    #gform_2 input[type="text"], #gform_2 textarea,
    .contact-page .inner-left-div p,
    .contact-page .inner-left-div .lbl,
    .contact-page .bottom-contact-div p,
    .jobs-page .desctop-header,
    .jobs-page .entry-content p,
    .services-right .entry-content p,
    #gform_2 .gfield_label,
    .newsletter-date,
    .newsletter-page .entry-content p,.search-page .entry-summary p, .search-page .navigation a{
        font-size: 16px;
        line-height: normal;
        white-space: normal;
        word-break: normal;
        text-align: justify;
    }
    .entry-content p, .entry-summary p, .comment-content p, .mu_register p{
        text-align: left;
    }
    .right-header{
        margin-bottom: 10px;
        /*margin-bottom: 25px;*/
    }
    #nav-div{
        position: relative;
        z-index: 100;
    }
    .main-navigation{
        width: 100%;
        padding: 5px 0;
        position: relative;
    }
    .main-navigation .mobile-block{
        display: block;
        position: relative;
}
    .main-navigation .mobile-block .mobile-logo{
        float: left;
        margin-left: 5px;
        max-width: 265px;
        width: 40%;
    }
    .main-navigation .mobile-block .open-mobile-menu{
        float: right;
        max-width: 95px;
        width: 13%;
        margin-right: 17px;
        margin-top: 5px;
    }
    .main-navigation .mobile-block .open-mobile-menu img{
        width: 100%;
    }
    .main-navigation .mobile-block .open-mobile-menu:hover{
        cursor: pointer;
    }
    header.block, header.block #nav-div{
        height: auto !important;
    }

    .main-navigation ul.nav-menu, .main-navigation div.nav-menu > ul {
        position: absolute;
        top: 100%;
        z-index: 100;
        background-color: #49423e;
        width: 50%;
        text-align: left;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }

    .main-navigation .nav-menu .menu-item {
        padding: 0;
        margin-top: 0;
        font-size: 16px;
        position: relative;
    }
    .main-navigation .nav-menu .menu-item a{
        padding: 17px 27px;
        display: block;
        color: #FFFFFF;
        text-decoration: none;
        border-bottom: solid 1px #7e7a78;
    }

    .main-navigation .nav-menu .menu-item a:hover {
        color: #b5ada5;
    }
    .main-navigation .nav-menu >  .menu-item > .sub-menu {
        margin: 0;
        padding: 0;
        width: 100%;
        position: absolute;
        left: 100%;
        top: 0;
        z-index: 100;
        background-color: #787068;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }
    .main-navigation .nav-menu > .menu-item:hover > .sub-menu{
        display: block;
    }
    .main-navigation .nav-menu .sub-menu .menu-item a{
        border-bottom: solid 1px #6a625b;
    }
    .main-navigation .nav-menu .sub-menu .menu-item a:hover{
        color: #252322;
    }
    #home-top-div .slide{
        background-size: cover;
        height: 100%;
    }
    #home-top-div .slide img{
        display: block;
        width: 100%;
        height: auto;
    }


    /********* Home Content **********/
    #main{
        width: 100%;
        padding-top: 20px;
    }
    .home #content {
        height: auto;
        width: 100%;
    }
    .left-div, .right,.team-page-right .right-img,
    .team-page-right .right-text, #gform_1 .ginput_container,
    #gform_2 .ginput_container{
        width: 100%;
        float: none;
    }
    .home .left-div .textwidget, .right-header, .left-mobile-header,
    .team-page-right .right-text-header1, .search-page .page-title{
        height: auto;
        line-height: normal;
        border-top: solid 1px #666;
        border-bottom: solid 1px #666;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .home .left-div .textwidget, .right-header, .left-mobile-header,
    .team-page-right, .search-page .page-title{
        font-size: 20px;
        white-space: normal;
    }
    .right-text-header1{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .right{
        margin-left: 0;
    }

    .contact-page .gform_wrapper div.charleft,
    .jobs-page .gform_wrapper div.charleft{
        font-size: 14px;
    }

    /*************** Services Page ***************/

    .mobile-accordion .left-text-header{
        height: auto;
        /*margin-bottom: 25px;*/
        margin-bottom: 10px;
        padding: 19px 90px 15px 21px;
        background-image: url("../images/mobile_accoridon_arrow.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-position: right 32px center;
        background-color: #49423e;
        border: none;
        border-radius: 7px;
        color: #FFFFFF;
        white-space: normal;
    }
    .mobile-accordion .left-text-header:hover{
        cursor: pointer;
    }

    .services-right{
        border-top: solid 1px #49423e;
        margin-top: 20px;
        padding-top: 20px;
    }

    .services-right article{
        padding: 0;
    }

    /*************** Team Page ***************/


    .team-page-right .right-text div{
        margin-left: 0 !important;
    }

    .team-page-right .group1{
        display: block;
        float: left;
        width: 215px;
    }
    .team-page-right .right-details{
        box-sizing: border-box;
        padding-left: 300px;
        width: 100%;
        clear: none;
    }
    .phone-block a,
    .mail-block a{
        color: #0000ff;
        text-decoration: underline;
    }
    .phone-block a{
        padding-left: 3px;
    }
    .phone-block a:hover,
    .mail-block a:hover{
        text-decoration: none;
    }
    .site-content .team-page-right article{
        padding: 0;
    }
    /*************** Contact Page ***************/

    #gform_1, #gform_2{
        padding: 0 8%;
    }

    #gform_1 .bottom-contact-div{
        margin-left: 0;
    }
    #gform_1 input[type="text"], #gform_1 textarea,
    #gform_2 input[type="text"], #gform_2 textarea{
        box-sizing: border-box;
        border: solid 1px #49423e;
        border-radius: 7px;
        padding: 10px !important;
    }
    #gform_1 input[type="text"], #gform_1 input[type="submit"],
    #gform_2 input[type="text"], #gform_2 input[type="submit"]{
        height: 64px;
        margin-bottom: 15px;
    }
    #gform_1 input[type="submit"], #gform_2 input[type="submit"], .waze-button{
        background: #49423e;
        width: 100%;
        float: none;
        border-radius: 32px;
        border: none;
    }
    #gform_1 input[type="submit"],#gform_2 input[type="submit"]{
        background: url("../images/contact_mobile_text.png") center no-repeat, #49423e;
    }
    #gform_1 input::-webkit-input-placeholder,
    #gform_1 textarea::-webkit-input-placeholder,
    #gform_2 input::-webkit-input-placeholder,
    #gform_2 textarea::-webkit-input-placeholder{
        color: #49423e;
        text-align: center;
    }
    #gform_1 input:-moz-placeholder,
    #gform_1 textarea:-moz-placeholder,
    #gform_2 input::-webkit-input-placeholder,
    #gform_2 textarea::-webkit-input-placeholder{
        color: #49423e;
        text-align: center;
    }

    #gform_1 input::-moz-placeholder,
    #gform_1 textarea::-moz-placeholder,
    #gform_2 input::-webkit-input-placeholder,
    #gform_2 textarea::-webkit-input-placeholder{
        color: #49423e;
        text-align: center;
    }

    #gform_1 input:-ms-input-placeholder,
    #gform_1 textarea:-ms-input-placeholder,
    #gform_2 input::-webkit-input-placeholder,
    #gform_2 textarea::-webkit-input-placeholder{
        color: #49423e;
        text-align: center;
    }
    .contact-page .inner-left-div p,
    .contact-page .inner-left-div .lbl{
        margin-bottom: 5px;
    }
    .waze-button{
        display: block;
        color: #FFFFFF;
        padding: 20px 10px;
        font-size: 25px;
        text-align: center;
        box-sizing: border-box;
        text-decoration: none;
    }
    .waze-button:hover{
        color: #FFFFFF;
    }

    /*************** Jobs Page ***************/

    .jobs-page .left-mobile-header{
        margin-bottom: 0;
    }
    .jobs-page .desctop-header{
        font-weight: normal;
        border-top: none;
    }

    #field_2_5{
        width: auto !important;
    }
    #gform_2 .gfield_label{
        display: block;
    }

    /*************** Newsletter Page ***************/

    .newsletter-page .right .right-header{
        font-size: 20px;
        white-space: normal;
        line-height: 27px;
        font-weight: bold;
    }

    /*************** Search Page ***************/

    .search-page .page-header{
        border-bottom: none;
        margin-bottom: 0;
    }
    .search-page .page-title span{
        display: block;
        font-size: 26px;
        font-weight: normal;
    }

    .search-page .entry-header a{
        font-size: 22px;
        font-weight: bold;
    }

    /*********** Footer ************/

    .mobile-searchform{
        display: block;
    }


}
@media screen and (max-width: 600px) {
    .team-page-right .right-details{
        padding-left: 230px;

    }
}
@media screen and (max-width: 530px) {
    .team-page-right .group1{
        float: none;
    }
    .team-page-right .right-details{
        padding-left: 0;
    }
}